<mat-toolbar class="py-2 bg-turquesa text-white">
  <mat-toolbar-row>
    <span>Bienvenido, {{nombre}}</span>
    <span class="expaciadorToolbar"></span>
    <app-menu-dashboard-chats-docente></app-menu-dashboard-chats-docente>
  </mat-toolbar-row>
</mat-toolbar>
<button mat-fab class="btn-agregarChat bg-naranja" [routerLink]="['/editarGlosario']">+</button>
<div class="row mx-0 bg-gris h-75">
  <section *ngFor="let salaChat of arraySalaChat; index as i" [attr.data-index]="i" class="col-md-4" style="height: 180px">
    <mat-card style="" class="mt-3 h-100">
      <mat-card-header>
        <mat-card-title>{{salaChat.nombreChat}}</mat-card-title>
        <mat-card-subtitle>{{salaChat.fecha.getDate()}}/{{salaChat.fecha.getMonth()}}/{{salaChat.fecha.getFullYear()}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="text-right align-text-bottom">
        <button mat-icon-button (click)="editarGlosario(salaChat._id)">
          <mat-icon>forward</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </section>
</div>

<li *ngFor="let item of items; let i = index" [attr.data-index]="i">
  {{item}}
</li>