<mat-form-field class="example-full-width">
  <input matInput type="text" [(ngModel)]="glosarioTermino.termino" placeholder="Término" />
</mat-form-field>
<mat-form-field class="example-full-width">
  <textarea matInput name="description" [(ngModel)]="glosarioTermino.descripcion" placeholder="Descripción">  </textarea>
</mat-form-field>
<mat-card-actions>
  <div mat-dialog-actions align="center">
    <button mat-raised-button class="bg-turquesa text-white" (click)="crearGlosarioTermino()">Guardar</button>
    <button mat-raised-button class="bg-turquesa text-white" (click)="cerrarVentana()">Cerrar</button>
  </div>
</mat-card-actions>